
@page
@model dblu.Docs.Models.Fascicoli
@inject dblu.Portale.Plugin.Docs.Services.AllegatiService _allegatiservice
@{
    var num = _allegatiservice.CountFascicoli();
}

<div class="row">
    <div class="col-lg-10 col-xs-10">
        <div class="small-box bg-green">
            <div class="inner">

                <h3>@num</h3>
                <p>Fascicoli</p>
            </div>
            <div class="icon">
                <i class="fa fa-folder-open"></i>
            </div>
            <a href="~/Docs/Fascicoli" class="small-box-footer">Apri <i class="fas fa-archive"></i></a>
        </div>
    </div>
</div>

