
@addTagHelper *, Syncfusion.EJ2
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject dblu.Portale.Plugin.Docs.Services.AllegatiService _allegatiservice
@model dblu.Portale.ViewModels.TemplateViewModel

@using System.Drawing
@{

    var dinamica = Convert.ToInt32(@Configuration.GetSection("Portale")["DashBoardDinamica"]);
    var num = _allegatiservice.CountFascicoli();
}

@if (dinamica == 1)
{
    <div class="row">

        <div class="col-lg-12 col-xs-12">
            <br />
            <div class="small-box bg-green">
                <div class="inner">
         
                    <h3>@num</h3>
                    <p>Fascicoli</p>
                    <br />
                </div>
                <div class="icon">
                    <i class="fa fa-folder-open"></i>
                </div>
                <a href="~/Docs/Fascicolo" class="small-box-footer">Apri <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>
}
else
{
    <div class="row">

        <div class="col-lg-12 col-xs-12">

            <div class="small-box bg-green">
                <div class="inner">
                    <h3></h3>
                    <p>Fascicoli</p>
                    <br />
                </div>
                <div class="icon">
                    <i class="fa fa-folder-open"></i>
                </div>
                <a href="~/Docs/Fascicolo" class="small-box-footer">Apri <i class="fa fa-arrow-circle-right"></i></a>

            </div>
        </div>

    </div>



}
