
@using dblu.Docs.Classi
@model dblu.Portale.Plugin.Docs.ViewModels.AttributiViewModel
@using Kendo.Mvc.UI
@addTagHelper *, Kendo.Mvc

@{

    IEnumerable<Attributo> lista = Model.Attributi.ToList().OrderBy(a => a.Sequenza).ToList();

}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-success">
                        <div class="box-body no-padding">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="pad">
                                        <form class="form-horizontal" role="form" method="post" id="attributi" autocomplete="off">
                                            <div class="box-body">

                                                @foreach (var attributo in lista)
                                                {

                                                    <div class="form-group">
                                                        @Html.Label($"lbl_{attributo.Nome}", attributo.Descrizione)
                                                        

                                                        @switch (attributo.Tipo)
                                                        {
                                                            case "System.DateTime":
                                                                @(Html.Kendo().DatePicker()
                                                                                .Name($"ctl_{attributo.Nome}")
                                                                                .Value(attributo.Valore)
                                                                )
                                                                break;
                                                            case "System.Boolean":
                                                                @(Html.Kendo().CheckBox()
                                                                                .Name($"ctl_{attributo.Nome}")
                                                                                .Checked(attributo.Valore)
                                                                )
                                                                break;
                                                            default:
                                                                @*@Html.TextBox($"ctl_{attributo.Nome}", $"{attributo.Valore}");*@
                                                                @(Html.Kendo().TextBox()
                                                                        .Name($"ctl_{attributo.Nome}")
                                                                        .Value(attributo.Valore)
                                                                )
                                                                break;
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
