dbDocs/obj/
dblu.Docs/obj/
.vs/
dblu.Plugin.Docs/obj/
dblu.Docs/bin/
dblu.Plugin.Docs/bin/
MailService/bin/
MailService/obj/
dbDocs/dbDocs.dbmdl
dbDocs/dbDocs.jfm
dbluDealersConnector/bin/
dbluDealersConnector/obj/
dbluDealersConnector/log.txt
MailService/Properties/PublishProfiles/FolderProfile.pubxml
dblu.Docs/dblu.Docs48.csproj.user
MailService/dbluMailService.csproj.user
*.user
dWorker.plugin.Docs.Setup/bin/
dWorker.plugin.Docs.Setup/obj/
dWorker.plugin.Docs.Setup/Properties/PublishProfiles/FolderProfile.pubxml
