
<h4> Componente o pagina custom [@nComponentName] non trovata!</h4>
<img style="margin: auto;display: block;" src="./img/unknown.png">

@code {
    
    /// <summary>
    /// Name of the component or page to load
    /// </summary>
    [Parameter]
    public string nComponentName { get; set; }

}
