@inject dblu.Portale.Plugin.Docs.Services.AllegatiService _ele
@using dblu.Portale.Core.UI
@using Kendo.Mvc.UI
@{

    List<dblu.Docs.Models.Colonna> Cols = _ele.GetColonne("vFASCICOLO");
    var Title = "Gestione Fascicoli";
}


@(await Html.RenderComponentAsync<PageTitle>(RenderMode.Server,  new { nTitle = Title}))

<div class="e-card">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-header-title">
                @Title
            </div>
        </div>
    </div>
    <div class="e-card-separator"></div>
    <div class="e-card-content">
        <section class="content">         
                @(Html.Kendo().Grid<dblu.Docs.Models.viewFascicoli>()
                            .Name("Grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.IdFascicolo).Width(130).Visible(false);
                                columns.Bound(p => p.DscFascicolo).Title("Descrizione").Width(120);
                                columns.Bound(p => p.Campo1).Title(Cols.ElementAt(0).Des).Visible(Cols.ElementAt(0).Visible).Width(120); ;
                                columns.Bound(p => p.Campo2).Title(Cols.ElementAt(1).Des).Visible(Cols.ElementAt(1).Visible).Width(120); ;
                                columns.Bound(p => p.Campo3).Title(Cols.ElementAt(2).Des).Visible(Cols.ElementAt(2).Visible).Width(120);
                                columns.Bound(p => p.Campo4 ).Title(Cols.ElementAt(3).Des).Visible(Cols.ElementAt(3).Visible).Width(120);
                                columns.Bound(p => p.Campo5 ).Title(Cols.ElementAt(4).Des).Visible(Cols.ElementAt(4).Visible).Width(120);
                                columns.Bound(p => p.Campo6).Title(Cols.ElementAt(5).Des).Visible(Cols.ElementAt(5).Visible).Width(120);
                                columns.Bound(p => p.Campo7).Title(Cols.ElementAt(6).Des).Visible(Cols.ElementAt(6).Visible).Width(120);
                                columns.Bound(p => p.Campo8).Title(Cols.ElementAt(7).Des).Visible(Cols.ElementAt(7).Visible).Width(120);
                                columns.Bound(p => p.Campo9 ).Title(Cols.ElementAt(8).Des).Visible(Cols.ElementAt(8).Visible).Width(120); ;
                                columns.Bound(p => p.Campo10 ).Title(Cols.ElementAt(9).Des).Visible(Cols.ElementAt(9).Visible).Width(120); ;
                                columns.Command(command =>
                                {
                                    command.Custom("Apri").Click("goFascicolo");
                                }).Width(120);

                            })
                            .Resizable(r => r.Columns(true))
                            .HtmlAttributes(new { style = "height: 1000px;" })
                            .ToolBar(toolbar => {
                                toolbar.ClientTemplateId("GridToolbarTemplate");
                            })
                            .Search(s => { s.Field(c => c.DscFascicolo);
                                s.Field(c => c.Campo1);
                                s.Field(c => c.Campo2);
                                s.Field(c => c.Campo3);
                                s.Field(c => c.Campo4);
                                s.Field(c => c.Campo5);
                                s.Field(c => c.Campo6);
                                s.Field(c => c.Campo7);
                                s.Field(c => c.Campo8);
                                s.Field(c => c.Campo9);
                                s.Field(c => c.Campo10);
                                s.Field(c => c.UtenteC);
                                s.Field(c => c.UtenteUM);
                            })
                            .Pageable()
                            .Filterable()
                            .Scrollable()
                            .Sortable()
                            .Height(730)
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(13)
                                .ServerOperation(false)
                                .Events(events => events.Error("error_handler"))
                                .Model(model =>
                                {
                                    model.Id(p => p.IdFascicolo);
                                })
                                .Read("GetFascicoliV", "Fascicolo")
                            )
                            .Events(events => events
                                .DataBound("GridonDataBound")
                            )
                        )
        </section>
    </div>
</div>



<script id="GridToolbarTemplate" type="text/x-kendo-template">
    <div class="toolbar">
        <label for="category">Categoria:</label>
        @(Html.Kendo().DropDownList()
            .Name("categories")
            .OptionLabel("All")
            .DataTextField("Descrizione")
            .DataValueField("Codice")
            .AutoBind(true)
            .Events(e => e.Change("categoriesChange"))
            .HtmlAttributes(new { style = "width: 150px;" })
            .DataSource(dataSource => dataSource
                                .Ajax()
                                 .Read("Categorie_Read", "Docs"))
            .ToClientTemplate()
        )
        <span class="k-textbox k-grid-search k-display-flex">
            <input autocomplete="off" placeholder="Cerca..." title="Cerca..." class="k-input">
            <span class="k-input-icon">
                <span class="k-icon k-i-search"></span>
            </span>
        </span>
    </div>
</script>


<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }


    function categoriesChange() {
        var value = this.value();
        grid = $("#Grid").data("kendoGrid");


        if (value) {
            grid.dataSource.filter({ field: "CodCategoria", operator: "eq", value: value });
        } else {
            grid.dataSource.filter({});
            $("#Grid th[data-field=Campo1]").html("Campo1");
        }

    }



    function goFascicolo(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var itemId = dataItem.IdFascicolo;
        window.location.href = '@Url.Action("Fascicolo", "Docs")/' + dataItem.IdFascicolo;
    }


    function GridonDataBound(arg) {

    }
</script>



