
@page
@inject dblu.Portale.Plugin.Docs.Services.MailService _mailservice
@{

    var numeroEmail = _mailservice.CountEmailInArrivo("EMAIL", User.Claims,dblu.Docs.Models.StatoAllegato.DaSmistare);
}

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<div class="row">
    <div class="col-lg-10 col-xs-10">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@numeroEmail</h3>
                <p>email in arrivo</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="~/MailView/Smistamento" class="small-box-footer">Apri <i class="fas fa-map-signs"></i></a>
        </div>
    </div>
</div>

