@*
    Component for showing a table of Item currently open for this customer
*@

@using dblu.Docs.Interfacce
@inject dblu.Portale.Plugin.Docs.Services.MailService _MailService
@inject ILogger<REG_OpenItemsTable> _Logger

@if (nItems.Count != 0)
{
    <div>
        <SfSpinner @bind-Visible="IsSpinnerVisible">
        </SfSpinner>
        <SfGrid Height="@nHeight" SelectedRowIndex="0" DataSource="@nItems" AllowSorting="true" AllowFiltering="true" AllowTextWrap="false" AllowPaging="true">
            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Batch"></GridEditSettings>
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
            <GridPageSettings PageSize="@nPageSize"></GridPageSettings>
            <GridColumns>
                <GridColumn Field=@nameof(ISoggettoElementiAperti.Numero) IsPrimaryKey="true" HeaderText="Numero"></GridColumn>
                <GridColumn Field=@nameof(ISoggettoElementiAperti.Riferimento) HeaderText="Riferimento"></GridColumn>
                <GridColumn Field=@nameof(ISoggettoElementiAperti.DataConsegna) Format="d" HeaderText="Consegna"></GridColumn>
                <GridColumn Field=@nameof(ISoggettoElementiAperti.Stato) HeaderText="Stato"></GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
}

@code {
    /// <summary>
    /// Costumer code
    /// </summary>
    [Parameter]
    public string nCustomerCode { get; set; }

    /// <summary>
    /// Fires when some items opened has been found for this costumer
    /// </summary>
    [Parameter]
    public EventCallback<int> OnOpenItems { get; set; }

    /// <summary>
    /// Height of the grid in pixels
    /// </summary>
    [Parameter]
    public string nHeight { get; set; } = "";

    /// <summary>
    /// Number of elements per page
    /// </summary>
    [Parameter]
    public int nPageSize { get; set; } = 5;

    /// <summary>
    /// Previously Customer code, to avoid reloading same events
    /// </summary>
    public string OldCustomerCode { get; set; }

    /// <summary>
    /// Indicates if the spinner has to be visible or not
    /// </summary>
    public bool IsSpinnerVisible { get; set; } = false;

    /// <summary>
    /// List of Open items
    /// </summary>
    public ObservableCollection<ISoggettoElementiAperti> nItems { get; set; } = new();

    /// <summary>
    /// On Init component, load the list of open items
    /// </summary>
    protected override Task OnParametersSetAsync()
    {
        try
        {
            if (string.IsNullOrEmpty(nCustomerCode)) { nItems = new(); OldCustomerCode = ""; return base.OnParametersSetAsync(); }

            if (OldCustomerCode == nCustomerCode) { return base.OnParametersSetAsync(); }
            OldCustomerCode = nCustomerCode;

            Task.Run(async () =>
            {
                try
                {

                    IsSpinnerVisible = true;
                    Stopwatch SW = Stopwatch.StartNew();
                    nItems = new ObservableCollection<ISoggettoElementiAperti>((await _MailService._soggetti.GetElementiAperti(nCustomerCode)));
                    _Logger.LogInformation($"REG_OpenItemsTable.OnParametersSetAsync: Retreived {nItems.Count} related items for {nCustomerCode} in {SW.ElapsedMilliseconds} ms");
                    IsSpinnerVisible = false;
                    InvokeAsync(async () =>
                    {
                        OnOpenItems.InvokeAsync(nItems?.Count ?? 0);
                    });
                }
                catch (Exception ex)
                {
                    IsSpinnerVisible = false;
                    _Logger.LogError($"REG_OpenItemsTable.OnParametersSetAsync: Unexpected error {ex}");
                }

            }).ContinueWith(T => IsSpinnerVisible = false);
           
        }
        catch (Exception ex)
        {
                IsSpinnerVisible = false;
                _Logger.LogError($"REG_OpenItemsTable.OnParametersSetAsync: Unexpected error {ex}");
        }
        return base.OnParametersSetAsync();
    }



}
