@*
    Component for showing the history of the processes, according to the last sync to the db.
*@
@using dblu.Docs.Models
@using dblu.Docs.Classi
@using dblu.Portale.Plugin.Docs.Pages.Stats.Shared
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using dblu.Portale.Plugin.Docs.Services

@inject IConfiguration _config
@inject ILogger<History> _Logger
@inject AllegatiService _AttachService
@page "/Stats/History"


<section class="content">

    <SfCard>
        <CardHeader Title="Storico dei Processi" />
        <CardContent EnableSeperator="true">

            <SfGrid EnablePersistence="false" ID="ODATA_Historys" TValue="Processi" AllowFiltering="true" AllowGrouping="false" AllowTextWrap="true" SelectedRowIndex="0" AllowPaging="true" AllowSorting="true" Toolbar="@(new List<Object>() { "Search" })">
                <SfDataManager HttpClientInstance="@Client" Url="/ODATA/History" CrossDomain="true" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridEvents TValue="Processi"></GridEvents>
                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Dialog"></GridEditSettings>
                <GridPageSettings PageSize="18"></GridPageSettings>
                <GridTextWrapSettings WrapMode="WrapMode.Content"></GridTextWrapSettings>
                <GridTemplates>
                    <DetailTemplate>
                        @{
                            var MyProcess = (context as Processi);
                           
                            List<Attivita> AL = _AttachService._hiMan.GetProcessActivities(MyProcess.Id);

                            if (AL.Count == 0)
                            {
                                <span>Nessuna attività manuale</span>
                            }
                            else
                            {

                                <HistoryTaskTable nHistoryTasks="@(new ObservableCollection<Attivita>(AL.OrderByDescending(f => f.Avvio)))"></HistoryTaskTable>
                            }
                        }

                    </DetailTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn HeaderText="Nome Processo" AllowFiltering="true" AllowEditing="false" AllowSorting="true">
                        <Template>
                            @{
                                var c = (context as Processi);
                                var Def = $"{c.Nome} {c.Versione}";
                                @Def
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field=@nameof(Processi.Diagramma) HeaderText="Inizio" AllowFiltering="true" AllowEditing="false" AllowSorting="true">
                    </GridColumn>
                    <GridColumn Field=@nameof(Processi.Avvio) HeaderText="Inizio" AllowFiltering="true" AllowEditing="false" AllowSorting="true"> </GridColumn>
                    <GridColumn Field=@nameof(Processi.Fine) HeaderText="Fine" AllowFiltering="true" AllowEditing="false" AllowSorting="true"> </GridColumn>
                    <GridColumn Field=@nameof(Processi.Stato) HeaderText="Stato" AllowFiltering="true" AllowEditing="false" AllowSorting="true"> </GridColumn>
                    <GridColumn Field=@nameof(Processi.UtenteAvvio) HeaderText="Utente di avvio" AllowFiltering="true" AllowEditing="false" AllowSorting="true"> </GridColumn>
                    <GridColumn Field=@nameof(Processi.Stars) HeaderText="Stelle" AllowFiltering="true" AllowEditing="false" AllowSorting="true">
                        <Template>
                            @{
                                var c = (context as Processi);
                                var Def = $"{c.Stars}";
                                @Def  <i class="far fa-star"></i>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>

        </CardContent>
    </SfCard>


</section>

@code {

    private static HttpClient Client { get; set; } = new();


    /// <summary>
    /// On Init component
    /// </summary>
    protected override async void OnInitialized()
    {
        Client.Timeout = new TimeSpan(0, 5, 0);
    }

}
