
@page
@inject dblu.Portale.Plugin.Docs.Services.ZipService _zipservice
@{

    var numeroFile = _zipservice.CountFileTask("ZIP", User.Claims);
}
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<div class="row">
    <div class="col-lg-10 col-xs-10">
        <div class="small-box bg-maroon">
            <div class="inner">
                <h3>@numeroFile</h3>
                <p>Documenti in arrivo</p>
</div>
            <div class="icon">
                <i class="fas fa-file-archive"></i>
            </div>
            <a href="~/ZipView/ZipInArrivo" class="small-box-footer">Apri <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>


