
@inject dblu.Portale.Plugin.Docs.Services.AllegatiService _doc
@using Kendo.Mvc.UI
@using dblu.Portale.Plugin.Docs.ViewModels
@using dblu.Docs.Models;
@addTagHelper *, Kendo.Mvc
@model dblu.Portale.Plugin.Docs.ViewModels.EditorFascicoloViewModel
@{
    var categoria = _doc.GetCategoria(Model.Oggetto.Categoria);

}

<style>
    .pad {
        margin: 10px;
    }
</style>


<div class="row" style="margin:10px">
  @await  Html.PartialAsync("EditorAttributi" , new EditorAttributiViewModel() { })
</div>
<br />
<br />
<div class="row" style="padding:10px">

    @(Html.Kendo().Button()
           .Name("salva")
           .HtmlAttributes(new { type = "button", @class = "k-primary" })
           .Content("SALVA")
           //.Events(ev => ev.Click("infoDialog"))
    )

</div>
