@using dblu.Portale.Plugin.Docs.Components
@using dblu.Portale.Plugin.Docs.ViewModels
@using dblu.Portale.Plugin.Docs.Services

@model EditPdfViewModel
@inject MailService _mailservice
@{
    ViewData["Title"] = "Edit pdf";
    var model = Model;

}
@*
<link href="https://cdn.syncfusion.com/blazor/18.2.58/styles/bootstrap4.css" rel="stylesheet" />
<script src="_framework/blazor.server.js"></script>*@


<section class="content-header">
    <h1>
        Editor pdf
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Index"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Editor pdf</li>
    </ol>
</section>
<section class="content">
    <div class="row">

        <component type="typeof(PdfEditor)" render-mode="ServerPrerendered"
            TipoAllegato="@Model.TipoAllegato" 
            IdAllegato="@Model.IdAllegato"  
            IdElemento="@Model.IdElemento" 
            AbilitaSalva="@Model.AbilitaSalva"        
        />

        <div class="box-body">
        </div>
    </div>
</section>
@section scripts {
    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdn.syncfusion.com/blazor/18.2.58/syncfusion-blazor.min.js"></script>
}

